%h1 Search for Shows
-#%div{:style => "display: inline-block;"}
%span{:style => "float:left; padding: 5px;"}
  = form_tag(add_path, :method => "get", :style => "display: inline") do
    = label_tag(:userInput, "Search for:")
    = text_field_tag(:userInput, "TV Show")
    = submit_tag("Search")
%span{:style => "float:left; padding: 5px;"}
  = form_tag(:style => "display: inline") do
    = hidden_field_tag(:some_name, "true")
    = hidden_field_tag(:userInput, @lastInput)
    = submit_tag "Add Show To Calendar"
  -#= button_to 'Scrape', test_path
  -#=button_to "Some Button", test_path, method: :post
  -#%input{:type => "button", :value => "Add Show To Calendar", :align => "center"}/
  -#%input{:type => "button", :value => "Add Show To Calendar", :align => "center", :onclick=>"AddShow(); return false"}/
-#%div{:style => "text-align:center"}
-#  %input{:type => "button", :value => "Add Show To Calendar", :align => "center"}/

-#%input{:type => "button", :value => "Click Me"}/
-#%br

-@response = HTTParty.get(@searchValue)
-body = JSON.parse(@response.body)
%br
%br
%br
-name = body[0]["show"]["name"]
-time = body[0]["show"]["schedule"]["time"]
-runtime = body[0]["show"]["runtime"]
-days = body[0]["show"]["schedule"]["days"]
-description = body[0]["show"]["summary"]
-image = body[0]["show"]["image"]["original"]
-#-start_time = Time.parse(time)
-#-runtime_conversion = runtime.to_s.to_time
-#-end_time_hour = start_time.hour + runtime_conversion.hour
-#-end_time_min = start_time.min + runtime_conversion.min
-#= form_tag do
-#  = hidden_field_tag(:some_name, "true")
-#  = hidden_field_tag(:userInput, @lastInput)
-#  = submit_tag "Add Show To Calendar"

-days = days.to_s.delete('["]')
-description = description.gsub('<p>', '').gsub('</p>', '').gsub('<b>', '').gsub('</b>', '').gsub('<i>', '').gsub('</i>', '')

%td <b>Title:</b> #{name}
%br
%td <b>Start Time:</b> #{time}
%br
%td <b>Run Time:</b> #{runtime}
%br
%td <b>Days</b>: #{days}
%br
%td <b>Description</b>: #{description}
%br
%br
%img{:src => image}
%br
%br
%td #{@response}

-if(@some_boolean == "true")
  -#Event.create(title: name, start: "2017-11-27 22:00:00", end: "2017-12-27 22:30:00", dow: [1,4])
  -Event.create(title: name, start: "22:00", end: "22:30", dow: [1,2]) 
  -flash[:notice] = "Success!"
  -@some_boolean = "false"

:javascript
  function AddShow()
  {
    alert("Success! Show Added to Calendar.");
  }


-#{newEvent = Event.create(title: name, start: "2017-11-27", end: "2017-11-27 00:30:00")};
-#var newEvent = new Object();
-#event={title: 'Test Addition', start: 2017-11-15}
-#var event = {title: 'TEST ADDITION', start: '2017-11-15'};
-#$('#calendar').fullCalendar('renderEvent', event, true);
-#.calendar('renderEvent', event, 'stick')
-#newEvent.title 


-#Event.create(title: "testPATH", start: "2017-11-27", end: "2017-11-27 00:30:00")
