%h1 Search for Shows
%div{:style => "display: inline"}

= form_tag(add_path, :method => "get", class: 'form-inline') do
  = label_tag(:userInput, "Search for:")
  = text_field_tag(:userInput, "TV Show")
  = submit_tag("Search")
  -#%input{:type => "button", :value => "Add Show To Calendar", :align => "center"}/
  %input{:type => "button", :value => "Add Show To Calendar", :align => "center", :onclick=>"AddShow(); return false"}/
-#%div{:style => "text-align:center"}
-#  %input{:type => "button", :value => "Add Show To Calendar", :align => "center"}/

-#%input{:type => "button", :value => "Click Me"}/
-#%br

-@response = HTTParty.get(@searchValue)
-body = JSON.parse(@response.body)

-name = body[0]["show"]["name"]
-time = body[0]["show"]["schedule"]["time"]
-runtime = body[0]["show"]["runtime"]
-days = body[0]["show"]["schedule"]["days"]
-description = body[0]["show"]["summary"]
-image = body[0]["show"]["image"]["original"]
-#-start_time = Time.parse(time)
-#-runtime_conversion = runtime.to_s.to_time
-#-end_time_hour = start_time.hour + runtime_conversion.hour
-#-end_time_min = start_time.min + runtime_conversion.min

%td <b>Title:</b> #{name}
%br
%td <b>Start Time:</b> #{time}
%br
%td <b>Run Time:</b> #{runtime}
%br
%td <b>Days</b>: #{days}
%br
%td <b>Description</b>: #{description}
%br
%br
%img{:src => image}
%br
%br
%td #{@response}

:javascript
  function AddShow()
  {
  //var newEvent = new Object();

  //newEvent.title = "SEARCH TEST";
  //newEvent.start = 2017-11-15;
  //newEvent.allDay = false;
  //var newEvent = {title: "SEARCH TEST", start: "2017-11-27"};
  // #{@event} = newEvent;
  
  #{newEvent = Event.create(title: "SEARCH TEST", start: "2017-11-27", end: "2017-11-27 00:30:00")};
  $('#calendar').fullCalendar( 'refetchEvents' );
  alert("Show Added!");
  //$('.calendar').fullCalendar( 'renderEvent', #{newEvent}, 'stick' );
  }
-#var newEvent = new Object();
-#event={title: 'Test Addition', start: 2017-11-15}
-#var event = {title: 'TEST ADDITION', start: '2017-11-15'};
-#$('#calendar').fullCalendar('renderEvent', event, true);
-#.calendar('renderEvent', event, 'stick')
-#newEvent.title = name;
-
